.vto-hide {display:none;}
.sgh-vto-overlay-open.icon.vto-hide {display:none !important;}

.sgh.new-header #pdp #pdp-container #pdp-display #logo-container {
    position: absolute;
    width: inherit !important;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%); 
	-moz-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);  
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	transform-style: preserve-3d;

}

#pdp #pdp-container #zoomViewer {
	height:  inherit !important;
	margin: 0px !important;
	min-height: 500px;
}

.sgh.new-header #pdp .showingRotator .instructions{
	top: inherit !important;
    bottom: 100px !important;
}

#pdp-display #fit-overlay .instructions {
	bottom: 100px !important;
}

.vto-application .vto-mobile h1, .vto-application .vto-desktop h4, .vto-application .vto-desktop h1, .vto-application .vto-desktop h2, .vto-application .button, .vto-application .canvas-container .rotate-bar .rotate-text,  .vto-application .vto-desktop h3, .vto-application .demo-page-right .next-button, .vto-application .vto-desktop p, #sgh-vto-overlay-video-buttons a, #sgh_vto_overlay .info-container p, #sgh_vto_overlay .info-container p span, .vto-application .vto-mobile h2, .vto-application .vto-mobile h3, .vto-application .vto-mobile h4, .vto-application .vto-mobile h5, .vto-application .vto-mobile h6 {
	font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;
}


/* 	---------------
	PDP VTO Button
	--------------
*/	

#pdp #pdp-container #pdp-display .viewBy {
	position:  relative;
	box-sizing: border-box;
	padding-right: 50px;
	z-index:  3;
}

#pdp-display .viewBy .icon.pdp-vto {
	-moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	background-color: #F3F2F2;
}



.button__vto--below.vto-show {
	display: inline-block;
}

.button__vto--below.vto-show span {
	display: block !important;
	bottom:  -25px !important;
}

.show-vto .viewBy .icon.pdp-vto,
#pdp-display .viewBy .icon.pdp-vto:hover {
	background-color: #333 !important;
}

.button__vto svg {
	width: 30px;
    height: 30px;
    margin: 0px;
    stroke: #111 ;
}

.button__vto--below svg {
   
    position: absolute;
    top: 10px;
    left: 10px;
    fill: #666 ;
    
}

.show-vto .viewBy .icon.pdp-vto svg,
#pdp-display .viewBy .icon.pdp-vto:hover svg {
	fill: #fff ;
    stroke: #fff ;
}

.button__vto--left-side {
    position: relative;
    width: 172px;
    box-sizing: border-box;
    padding-right: 0px !important;
}

.show-vto .button__vto--left-side {
    background-color: #5d5d5d;
}

.show-vto .button__vto--left-side:hover {
    background-color: #111;
}


.button__vto--left-side i {
	display: inline-block;
    position: absolute;
    left: 10px;
}


.button__vto--left-side svg {
	fill: #fff;
}

.button__vto--grey-button {
	cursor: pointer;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #F3F2F2;
    height: 30px;
    color: #666;
    padding: 10px 20px 10px 10px !important;
    letter-spacing: 0;
    position: absolute;
	left: 50%;
	transform: translateX(-50%);
    bottom: 50px;
}

.show-vto .button__vto--grey-button {
	background-color:  #5d5d5d;
}


.button__vto--grey-button svg {
	fill: #666 ;
    stroke: #666 ;
    float: left;
}

.show-vto .button__vto--grey-button,
.button__vto--grey-button:hover {
	 color: #fff;
}


.show-vto .button__vto--grey-button svg,
.button__vto--grey-button:hover svg {
	fill: #fff ;
    stroke: #fff ;
}

.button__vto__text {
	margin-left:  10px;
}

.button__vto__text--grey-button {
	margin-left: 10px;
	font-family: 'brandon_bold', Helvetica, Arial, sans-serif;
	line-height: 30px;
}


html.vto-bg-no-scroll {
	position: fixed;
}

.vto-bg-no-scroll {
    width: 100%;
    overflow-y: hidden;
}
.vto-disable-scrolling {
	overflow: hidden;
	width: 100%;
	position: fixed !important;
}

.vto-application {
	height: 100%;
}
.vto-application .renderer {
	position: relative;
	height: 100%;
    overflow: hidden;
}
	
#sgh-vto-overlay_container {
	position: relative;
	height: 100%;
}


/* 	---------------
	Intro Overlay
	--------------
*/

#sgh_vto_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20001;
    top: 0px;
    bottom: 0px;
    display: none;
    text-transform: none;
    right: 0;
    pointer-events: none;
    overflow: hidden;
}

#sgh_vto_overlay.active {
    pointer-events: auto;
    display:  block;
}


#sgh-vto-overlay_video {
	background-color: #fff;
	position: absolute;
	box-sizing: border-box;
    padding: 30px 70px;
    width: 950px;
    min-height: 608px;
	z-index: 1;
	left: 50%; 
	top:50%; 
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50% ); 
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	transform-style: preserve-3d;
	opacity: 0;
}

#sgh_vto_overlay.active #sgh-vto-overlay_video {
	-webkit-transition: opacity .5s; 
	-moz-transition: opacity .5s; 
	-ms-transition: opacity .5s; 
	-o-transition: opacity .5s; 
	transition: opacity .5s;
	opacity: 1;
}

.vto-create-header {
	font-size:  26px !important;
	font-family: 'brandon_medium', Helvetica, Arial, sans-serif !important;
	color:  #333;
	padding-bottom:  10px;
	border-bottom: solid 1px #d2d2d2;
	margin-bottom: 30px;
}
.vto-overlay-background {
    background-color: rgba(137, 137, 137, 0.85);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.vto-application .desktop-page.loading-page {
	margin-top: 100px;
}

.desktop-page.scaling-questions-page {
    padding-top: 50px;
}

.vto-application .demo-page-right {
	z-index: 2;
}
.vto-application .demo-page-right .next-button{
	padding:  0px !important;
	width: 100% !important;
}


.vto-application .demo-page-right h3,
.vto-application .vto-desktop h3.scaling-questions-page-description {
	font-size: 20px !important;
	font-family: brandon_bold, Helvetica,Arial, sans-serif !important;
}

.vto-application .demo-page-right h3,
.vto-application .demo-page-right p,
.vto-application .demo-page-right .instruction-text {
	width: 100%;
}

h3.scaling-questions-page-description {
    text-transform: uppercase !important;
}

.modal-close {
	font-style: normal;
	position:  absolute;
	top: 20px;
    right: 10px;
	z-index:  2;
	padding: 5px 10px;
	font-family: 'brandon_medium', Helvetica, Arial, sans-serif !important;
	cursor: pointer;
	font-size:  15px;
	text-transform:  uppercase;
}
#sgh-vto-overlay_video .modal-close {
	width: initial;
}


/* 	---------------
	Rendered Overlay
	--------------
*/	

.model-close {
	position: absolute;
	z-index: 3;
	transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    font-style: normal;
    opacity: 0;
    right: 0;
    top: -60px;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: #A1A1A1;
    background-color: #111;
    text-align: center;
    font-size: 10px;
    cursor:  pointer;
}

.model-close span {
    display: inline-block;
    margin: 0 0 0 8px;
    position: relative;
    font-size: 15px;
    top: 1px;
}

#sgh-vto-vtomodel-container .canvas-container{
	left: 50%;
	margin: 0px;
    -webkit-transform: translateX(-50%); 
	-moz-transform: translateX(-50%); 
	-ms-transform: translateX(-50%);  
	transform: translateX(-50%);  
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	transform-style: preserve-3d;
}

.show-vto .model-close {
	opacity: 1;
}

#pdp-display .viewBy {
	bottom: 40px;
    width: 100%;
    margin: 0 !important;
    z-index: 2;
}

.vto__belowImg #pdp-display {
	padding-bottom: 20px;
}

.vto__belowImg #pdp-display .viewBy {
	bottom: 20px;
}

#product {
	min-height: 435px;
	position:  relative;
}

.show-vto #product {
	min-height:  660px;

}

.vto__belowImg .show-vto #product {
	min-height:  690px;

}
.show-vto .viewBy {
	position: absolute !important;
	z-index: 3;
}

#product.show-vto #logo-container {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#product.show-vto .sgh-vto-overlay_video {
	display: block;
}

#sgh-vto-overlay_model {
	background-color: #fff;
	position: absolute;
	box-sizing: border-box;
	z-index: 1;
	left: 0; 
	top: 40px; 
	width: 100%;
    height: 100%;
    height: calc(100% - 40px);
}

#sgh-vto-overlay-video-buttons {
	padding: 0px 10px;
    z-index: 110;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    text-align:  left;
}

.vto-application .vto-desktop h4 {
	font-size:  15px !important;
}

/* 	---------------
	Back Buttons
	--------------
*/	
	.vto-application .back-bar {
		padding: 10px 10px !important;
		border-bottom: solid 1px #ebebeb !important;
		height: initial !important;
	}

	#sgh-vto-overlay-video-buttons a,
	.vto-application .vto-mobile h5.back-bar-text {
		margin: 0px;
		font-size: 13px !important;
		text-transform: none;
    	text-decoration: none;
    	color: #666666 !important;
	}
	.back-bar-arrow {
		margin-left: 0px !important; 
    	margin-right: 5px !important;
	    width: 5px !important;
	    height: inherit !important;
	    fill: #666666 !important;
	}

	

	.vto-application .vto-mobile h4,
	.vto-application .video-capture .open-camera {
		font-size: 15px !important;
	}

	.vto-application .question-container .button {
		border-left:  #999 solid 1px !important;
	}
	
	#sgh-vto-overlay-video-buttons a {
	    width: initial;
	}
	#sgh-vto-overlay-video-buttons a.vto-start-button,
	#sgh-vto-overlay-video-buttons a.vto-delete-button  {
		text-decoration: underline;
		padding: 5px 0px;
		display: block;
		margin: 5px 0;
	}
	#sgh-vto-overlay-video-buttons a#vto-open-edit {
		padding: 10px 0px;
		position: absolute;
		text-decoration: underline;
		cursor: pointer;
		left: 50%;
		margin-left: 270px;
	    -webkit-transform: translateX(-50%); 
		-moz-transform: translateX(-50%); 
		-ms-transform: translateX(-50%);  
		transform: translateX(-50%);  
		-webkit-transform-style: preserve-3d; 
		-moz-transform-style: preserve-3d; 
		transform-style: preserve-3d;
	}

	a.button.white.button_back-arrow {
	    padding: 10px 0px;
	    border: none;
	    display: inline-block;
	    box-sizing: border-box;
	    text-align: left;	    
	}
	a.button.white.button_back-arrow:hover,
	a.button.white.button_back-arrow:focus{
		background-color: #ece8e8;
	} 
	span#user-id {
		display: block;
	    font-size: 1px;
	    visibility: hidden;
	}
	a#vto_start_button {
	    position: absolute;
	    bottom: 20px;
	}
	div#vto_app_root {
	    height: 100%;
	}
	.vto-mobile.fullscreenable.fullscreen {
		height: 100%;
		z-index:  200 !important;

	}
	.vto-mobile.fullscreenable.fullscreen > div:first-of-type {
		padding-top: 50px;
		padding-bottom: 10px;
	}

	.vto-mobile.fullscreenable.fullscreen div.question-container {
		padding-top: 70px;
	}
	.vto-mobile.fullscreenable.fullscreen div.preview-page {
		padding-top: 10px;
	}

	a.button.sgh-vto-overlay-open {
		display: none;
	}
	.sgh-vto-overlay-open {
	    margin: 15px 0px;
	}
	.sgh-vto-overlay-open:hover,
	.sgh-vto-overlay-open:focus {
		background-color: #5d5d5d;
	}
	

	
	#sgh_vto_overlay.active div#sgh-vto-video-container {
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height:  100%;
    	z-index: 100;
    	display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    text-align: center;
	}
	
	#sgh_vto_overlay.active div#sgh-vto-video-container.active,
	#sgh_vto_overlay #sgh-vto-vtomodel-container.active{
		background-color:  #fff;
		background-color:  #fff;
	}

	#sgh_vto_overlay #sgh-vto-vtomodel-container {
	    position: absolute;
	    width: 100%;
	    top: 0;
	    right: -100%;
	    bottom: 0;
	    height:  100%;
    	z-index: 100;
    	display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    text-align: center;
	}
	.sgh-vto-rotate {
	    position: absolute;
	    padding: 10px;
	    text-align: center;
	    box-sizing: border-box;
	    pointer-events: none;
	    z-index: 10;
	    bottom: 0px;
	    width: 100%;
	    z-index: 10;
	    background-color: rgba(255,255,255,0.6);
	}
.vto-application .question-container .description {
	margin-top: 40px !important;
}

.vto-application .question-container .question-answer {
	margin-top: 60px !important;
}

.vto-application .question-container .questions-next-button {
	margin-top: 60px !important;
}

/* 	---------------
	Edit Video
	--------------
*/	

#sgh-vto-video-edit-container {
	position: fixed;
	top: 0px;
	left:  0px;
	width:  100%;
	height: 100%;
	z-index:  120;
}
.sgh-vto-video-edit-background {
    background-color: rgba(137, 137, 137, 0.85);
    width: 100%;
    height: 100%;
}

.sgh-vto-video-edit-modal{
	width: 400px;
    text-align: center;
    background-color: #F3F2F2;
    box-sizing: border-box;
    padding: 40px 20px 20px;
	position: absolute;
	z-index:  120;
	left:  50%;
	top: 50%; 
	-webkit-transform: translate(-50%, -50%); 
	-moz-transform: translate(-50%, -50%); 
	-ms-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	transform-style: preserve-3d;
}
.sgh-vto-video-edit-modal .vto-edit-page {
	opacity: 0;
	pointer-events: none;
	height:  0px;
}

.sgh-vto-video-edit-modal .button{
	display: block;
	margin-top:  10px;
}

.sgh-vto-video-edit-modal .black-button.bordered{
	border:  solid 2px #111;
}

#sgh-vto-video-edit-container.vto-video-edit-modal-initial .vto-edit-initial,
#sgh-vto-video-edit-container.vto-video-edit-modal-retake .vto-edit-retake,
#sgh-vto-video-edit-container.vto-video-edit-modal-delete .vto-edit-delete {
	pointer-events: auto;
	height: inherit;
	-webkit-transition: opacity .5s; 
	-moz-transition: opacity .5s; 
	-ms-transition: opacity .5s; 
	-o-transition: opacity .5s; 
	transition: opacity .5s;
	opacity: 1;
}
.sgh-vto-video-edit-modal .modal-close {
	top: 10px;
}

.sgh-vto-video-edit-modal p {
	margin-bottom:  25px;
	line-height: 20px;
	font-size: 18px;
}
.sgh-vto-video-edit-modal a {
	cursor:  pointer;
}

.sgh-vto-video-edit-modal .outlineButton {
	margin-top: 15px;
	border-width: 2px;
}

.vto-application .canvas-container .rotate-bar .rotate-text {
	text-transform: uppercase;
}

#sgh_vto_overlay .vto-application {
	font-family: "brandon_regular",Helvetica,Arial,sans-serif !important;
}


/* 	---------------
	On Model
	--------------
*/	

.vto-application .vto-desktop .canvas-container .rotate-bar .rotate-icon {
	width: inherit !important;
    left: inherit !important;
    position: relative !important;
}


.brandImg .vto-on-model__container {
	width: 60%;
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%); 
	-moz-transform: translateY(-50%); 
	-ms-transform: translateY(-50%);  
	transform: translateY(-50%);  
}
.vto-on-model__disclaimer{
	text-align: center;
	padding-bottom: 5px;
	text-transform: none;
	font-size: 16px !important;
	font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;
	font-weight: normal !important;
}

.vto-on-model__copy {
	text-align: center;
	padding: 15px 0px 0px;
	font-size: 18px !important;
	text-transform: none;
	font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;
	font-weight: normal !important;
}

.vto-on-model__copy .sgh-vto-overlay-open {
	text-decoration: underline;
	display: inline-block;
	margin: 8px 0px 0px;
	 font-weight: normal !important;
	cursor: pointer;
	text-transform: uppercase;
}
.vto-on-model__toggle {
    text-align: center;
    padding-top:  10px;
}

.vto-on-model__toggle .outlineButton {
	width: 150px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;
    font-weight: normal !important;
}

.vto-on-model__toggle .outlineButton--active {
    background-color: #111;
    color: #fff;
    pointer-events: none;
}

.brandImg.lazy-container img.vto-hide {
	display: none !important;
}



/* 	---------------
	Userzoom
	--------------
*/	

#uz_popup_container .uz_popup .containerIn h1, #uz_popup_container .uz_popup .containerIn h3,
#uz_popup_container .uz_font, #uz_popup_container .uz_font button, #uz_popup_container .uz_font a, #uz_popup_container .uz_font * {
	text-align: center !important;
	font-family: 'brandon_bold', Helvetica, Arial, sans-serif !important;
}

#uz_popup_container .uz_font, #uz_popup_container .uz_font button, #uz_popup_container .uz_font a, #uz_popup_container .uz_font * {
    text-transform: none !important;
    line-height: 22px !important;
    font-family: 'brandon_regular', Helvetica, Arial, sans-serif !important;
}

#uz_popup_container .uz_popup .uz_footer .uz_powered {
	font-size: 12px !important;
}

@media screen and (max-height: 550px) { 
	.vto-application .question-container .questions-next-button {
		margin-top: 60px !important;
	}

	#sgh_vto_overlay .info-container {
		padding-top: 10px;
	}
	.vto-application .renderer {
	    height: 100%;
	}
	#sgh_vto_overlay .info-container p.fit {
		display: none;
	}
}

@media screen and (min-height: 630px) { 
	.vto-application .renderer {
	    height: 100%;
	}

}

@media screen and (max-width: 1275px) { 
	#pdp #pdp-container #zoomViewer {
	    z-index: 10 !important;
	}
	#pdp #pdp-container #zoomViewer .icon {
		bottom: 100px;
    	position: relative;
	}
	#pdp #pdp-container #pdp-display .viewBy {
	    z-index: 11;
	}

}


